/server/.env
/server/node_modules
/ml-service/.env
/ml-service/.venv
/ml-service/__pycache__
/ml-service/temp
/client/node_modules
/client/.env
/node_modules
/dist
/build
/README1.md
/.vscode
/.idea
.DS_Store
*.log
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
.claude
.claude_cache   
.claude_cache/*
.codex
.agents